body {
    background-color: #ffff00;
}

h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}

th, td {
    color: red;
    font-family: courier;
    font-size: 160%;
    border: 2px solid powderblue;
    padding: 10px;
}

table {
    
    margin: 50px;
}
